  body { color: black;
    font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif;
    font-size: 75%;
    }

  dt { float: left;
    width: 25%;
    font-weight: bold;
    }

  dd { width: 74%;
    margin-left: 26%;
    }
    
  .experience dd {
    margin-bottom: 2em;
  }

  h1 { text-align: center;
    color: rgb(88, 132, 220);
    margin-bottom: 1.5em;
    }

  h2 { border-bottom: 2px solid rgb(88, 132, 220);
    color: rgb(255, 102, 102);
    margin-right: -1em;
    font-size: medium;
    }

  .sstitre1 { color: rgb(255, 102, 102);
    font-size: medium;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    }

  .sstitre2 { text-align: center;
    margin-bottom: 2em;
    }

  ul {
    padding-left: 1em;
    margin-left: 1em;
  }

  li {
    margin-bottom: 4pt;
    line-height: 150%;
  }

  a { color: rgb(88, 132, 220);
    }

  a:hover { text-decoration: none;
    }
   
  img {
  	border: 0;
  }
  
  p {
    line-height: 130%;
  }

  .entreprise {
  	font-weight: bold;
  }

  .projet {
    font-style: italic;
    background-image: url(../templates/ect/img/forward.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
  }

  .technologies {
    border-bottom: thin dotted black;
  }
 
@media screen {
  body {
    background-color: rgb(255, 252, 223);
  }

  h2 {
    margin-left: -1em;
  }
  
  dd {
    margin-bottom: 1.5em;
  }

  h2:first-letter { color: rgb(255, 255, 255);
    background-color: rgb(88, 132, 220);
    font-size: larger;
    }

  .principal { margin: 2em 8%;
    }
    
  .coordonnees {
  	border: thin rgb(88, 132, 220) dashed;
  	padding: 1em;
  	padding-top: 0;
  	padding-bottom: 0;
  	float: right;
  }
}

@media print {
  body {
    background-color: #ffffff; 
  }
  
  h1 {
  	font-size: large;
  }
  
  .sstitre1 {
  	font-size: small;
  }

  .coordonnees {
  	padding: 1em;
  	padding-top: 0;
  	padding-left: 0;
  	float: left;
  	width: 30%
  }
  
  img {
    display: none;
  }
  
  a.validation {
    display: none;
  }

  a:after {
    content: " (" attr(href) ") ";
  }

  .lienInvisible a:after {
  	content: "";
  }
}